.container {
    padding: 10% 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.container #title {
    width: 100%;
    color: inherit;
    background: inherit;
    border: none;
    outline: none;
    font-weight: 700;
    font-family: inherit;
    font-size: 42px;

}

#title::placeholder{
    color: inherit;
    font-size: 42px;
    font-weight: 700;
    font-family: inherit;

}