.ColorMenuContainer {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background: #0e0e0e;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;

    animation: appear .5s ease;

    max-height: 30vh;
    


    .lists {
        overflow: auto;

    &::-webkit-scrollbar {
        scrollbar-color: #fefefe;
        scrollbar-width: 0;
        width:.5rem;
        background: none;
        
    }

    &::-webkit-scrollbar-track{
        // background-color: none;
        border-radius: 1rem;
    }

     &::-webkit-scrollbar-thumb{
        background: #fefefe;
        border-radius: .5rem;
        width: .5rem;
     }


        ul {
            list-style: none;
    
    
            li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                /* line-height: 0; */
                padding: .3rem .5rem;
                border-radius: .5rem;
                width: 100%;
                /* font-size: inherit; */
                cursor: pointer;
                transition: background-color .1s ease;
    
                &:hover {
                    background-color: #2E2E2E;
    
                }
    
               
            }
    
        }
    }
    
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}