.SelectorMenuContainer {
    background: black;
    border-radius: .5rem;
    padding: .5rem;

    ul {
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }
}