.LoginModal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;


    header {
        position: fixed;
        padding: 4rem 5rem;
        width: 100%;

        figure img {
            width: 15rem;
        }
    }

    form {

        margin: auto;
        width: 90%;
        height: 50%;
        max-width: 30rem;
        max-height: 30rem;
        background-color: #0e0e0e;
        padding: 3rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 .5rem #fff;



        input {
            outline: none;
            background: inherit;
            outline: none;
            padding: .5rem;
            border: none;
            border-bottom: .1rem #fff solid;
            width: 100%;
            color: #fff;
            transition: padding .3s ease;

            &:focus {
                padding: .8rem;
            }

        }

        button {
            min-height: 2rem;
            padding: 1rem;
            width: 100%;
            background-color: var(--black-logo-purple);
            outline: none;
            border: none;
            color: #fff;
            border-radius: .5rem;
            cursor: pointer;

            filter: brightness(80%);
            transition: filter .3s ease;

            &:hover {
                filter: brightness(100%);
            }
        }


    }
}