.modal-wrapper {
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    position: fixed;
    z-index: 5;
    /* background-color: black; */

    .modal {
        /* width: 10rem;
        height: 10rem;
        background: #0e0e0e;
        border-radius: .5rem;
        z-index: 1;
        padding: 1rem; */
        width:100%;
        position: absolute;
        display: flex;
        gap:.5rem;
    
    }
    
    
    .modal ul {
        list-style: none;
    
    }
    
    .modal ul li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:1rem;
        /* line-height: 0; */
        padding: .3rem .5rem;
        border-radius: .5rem;
        width: 100%;
        /* font-size: inherit; */
        cursor: pointer;
        transition: background-color .1s ease;
    }
    
    .modal ul li:hover {
        background-color: #2E2E2E;
    }
}



