.notebook {
    /* position: relative; */
}

.notebook textarea {
    width: 100%;
    /* min-height: 100%; */
    padding: 10px;
    display: block;
    background:inherit;
    color: #fefefe;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    transition: background-color .3s ease;
}

.notebook textarea::placeholder {
    color: #fefefe;
}

.notebook textarea:hover,
.notebook textarea:focus{
    background: #fff4;
}

.notebook {
    width: 100%;
    display: flex;
    justify-content: center;
    gap:5px;
    align-items:center;
}


.icons{
    cursor: pointer;
    border-radius: 5px;
    padding: 1px;
    width: 19px;
    height: 19px;
    transition: background-color .3s ease;
    /* margin-top: 8px; */
}

.icons:hover{
    background: #fff4;
}

