.loader-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    .loader {
        border: .3rem solid #fff;
        border-top: .3rem solid var( --black-logo-purple);
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        animation: spin 1s linear infinite;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}