:root {
    font-size: 62.5%;
    --black-logo-purple: #A230ED;
    --loght-logo-purple: #C364FA;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

*::-webkit-scrollbar{
    background-color: #2E2E2E;
}


*::-webkit-scrollbar-thumb{
    background-color: #0e0e0e;
    border-radius: 1rem;
}

body{
    background:#2E2E2E;
    color:#fefefe;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }


