.ActionsModal {
    background: #0e0e0e;
    padding: 2rem 1rem;
    border-radius: .5rem;
    height: fit-content;
    animation: appear .5s ease;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

