.codeCellContainer {
    width: 100%;
    min-height: 2.8rem;
    display: block;
    border: none;
    outline: none;
    overflow: hidden;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;

  

    .languageSelector {
        align-self: flex-start;
        min-width: 10rem;
        width: fit-content;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: .5rem;

        cursor: pointer;
        text-align: left;
        // position: absolute;
        // right: 0;
        // top:0;
        z-index: 1;
        border: none;
        outline: none;
        padding: .1rem;
        background-color: inherit;
        color: #f0f0f0;
        border-radius: .5rem;
        padding: .5rem;

        option {
            background-color: #0e0e0e;
            border: none;
        }
  
        span {
            font-size: 1.4rem;
        }

        svg {
            width: 1.3rem;
        }


    }


    .codeContent {
        width: 100%;

    }
}